@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins&display=swap');

.type {
    border-left: 2px solid red;
    animation: typing 1s steps(5) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
    }
}

.portfolio {
    background-color: darkslategray;
}

.service-item {
    width: 100%;
    height: 100%;
}

home-img {
    width: 50%;
    height: 50%;
}
.testimonials {
    background-color: darkslategray;
    
}
.test-item{
    background-color: white;
    
}